.products
{
    width: 60%;
    min-height: 100vh;
    display: inline-block;
    background-color: var(--off-white);
    padding: 4rem 2rem;

    .grid
    {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        text-align: center;
    }
}