{% extends "_base/page" %}

{% block content %}
    <article style="width: 100%;display: block;">
        <section style="display: block;width: 100%;">
            {{ entry.title }} Page
        </section>
    </article>
{% endblock %}