.cart
{
    width: 40%;
    display: inline-block;
    background-color: var(--mint);
    padding: 4rem;
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;
    vertical-align: top;

    h1
    {
        font-weight: var(--font-weight-heavy);
        color: var(--coco);
        font-size: 3rem;
        line-height: 3.5rem;
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    #details
    {
        display: block;
        margin: 0 auto 3rem;

        span
        {
            display: block;
            width: 100%;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            text-align: center;
            font-size: 0.75rem;
            line-height: 1.5rem;
            font-weight: var(--font-weight-medium);

            &.large
            {
                font-size: 1.25rem;
                text-transform: none;
                font-weight: var(--font-weight-heavy);
                color: var(--coco);
                width: 100%;
            }
        }
    }

    #cart-view
    {
        display: grid;
        margin: 0 auto;
        gap: 1rem;
        grid-template-columns: minmax(1px, 1fr);

        @media (min-width: 768px)
        {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .empty-card
        {
            background-color: var(--white);
            padding: 0.5rem;
            user-select: none;
            border-radius: 0.25rem;
            
            svg
            {
                width: 80px;
                height: 80px;
                display: block;
                margin: 0 auto auto;
            }

            span
            {
                display: block;
                width: 100%;
                font-weight: var(--font-weight-heavy);
                font-size: 0.75rem;
                text-transform: uppercase;
                color: var(--primary);
                text-align: center;
                margin-top: 0.5rem;
                margin-bottom: auto;
            }
        }
    }
}