{% extends "_base/page" %}

{% block content %}
    <style>
        code
        {
            padding: 0.25rem 0.5rem;
            background-color: var(--off-white);
            border-radius: 0.125rem;
            font-family: monospace;
            cursor: default;
            user-select: none;
        }
    </style>
    <article style="width: 100%;height:80vh;display: flex;justify-content: center;align-items: center;">
        <section style="display: block;width: 100%;text-align: center;">
            Get started with this boilerplate by modifying the <code>_header</code> and <code>_footer</code> files.
        </section>
    </article>
{% endblock %}