header-component
{
    display: block;
    width:100vw;
    padding: 0 1rem;
    background-color:var(--background);
    box-shadow: 0 2px 24px rgba(51,51,51,0.1);
    z-index: 1000;

    #header-logo
    {
        font-weight:var(--font-weight-black);
        text-transform: uppercase;
        color:var(--primary);
        font-size: 2rem;
        transition: color 75ms ease;
        height: 70px;
        line-height: 70px;

        &:hover,
        &:focus
        {
            color: var(--coco);
        }
    }

    nav
    {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        max-width: 100%;
        height: 100%;
        margin:0 auto;

        div
        {
            display: none;
            align-items: center;
            flex-flow: row nowrap;
            height: 70px;

            @media (min-width:800px){
                display: inline-flex;
            }

            @media (min-width: 1236px)
            {
                margin-right: -2rem;
            }

            a
            {
                line-height: 72px;
                padding: 0 2rem;

                &.is-active
                {
                    &::after
                    {
                        transform: scaleY(1);
                    }
                }

                &::after
                {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 4px;
                    background-color: #ad8b19;
                    transform-origin: center bottom;
                    transform: scaleY(0);
                    transition: all 150ms ease-in-out;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        a
        {
            text-transform: uppercase;
            transition: all 75ms ease;
            font-weight: var(--font-weight-medium);
            height: 100%;
            position: relative;

            &:hover,
            &:focus
            {
                color: var(--primary);
                
                &::after
                {
                    transform: scaleY(1);
                }
            }
        }
    }
}