<header style="display: block;width:100vw;margin-bottom: 2rem;padding: 2rem 1rem;background-color:var(--background);box-shadow: 0 2px 24px rgba(51,51,51,0.1);border-bottom:1px solid var(--off-white);">
    <nav style="display:flex;justify-content: space-between;width:1024px;margin:0 auto;">
        <a href="{{ siteUrl }}">{{ "Home"|t }}</a>
        <div>
            <a style="margin-left:1rem;" target="_blank" href="https://jintmethod.dev/">{{ "JINT Methodology"|t }}</a>
            <a style="margin-left:1rem;" target="_blank" href="https://github.com/Pageworks/djinnjs">{{ "DJINN Framework"|t }}</a>
        </div>
    </nav>
</header>